.Courtviewfooter
{
    display: flex;
    justify-content: space-around;
}
.img-fluid
{
    border-radius:5px;
    padding:5px;
    box-shadow: 10px 10px 5px rgb(0, 9, 12);    /* width: 50%; */
}
.cardmain{
    padding: 5px;
    margin: 10px;
    box-shadow: 8px 10px 5px rgb(158, 162, 163);    /* width: 50%; */
}