.navbar-brand,.nav-link.active, .nav-link
{
    color: white !important;
}
.homeCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsl(240, 11%, 91%);
  }